<div class="outer-container" (click)="displayDescription.emit(false)">
  <div class="inner-container" (click)="$event.stopPropagation()">
    <button (click)="displayDescription.emit(false)">X</button>

    <h1>{{ skill.name }}</h1>
    <div class="flex-row">
      <img
        src="/assets/skillbuilder/{{ currentClass }}/{{ skill.type }}/{{
          skill.imgPath
        }}"
        alt=""
      />
      <h3>{{ skill.description }}</h3>
    </div>

    <h4
      class="skill-requirement"
      *ngFor="let requirement of skill.requirements | keyvalue"
    >
      Required:
      {{ requirement.key }}
      {{ requirement.key.search("Skill Points") != -1 ? "" : "Level" }}
      {{ requirement.value }}
    </h4>

    <div class="grid-container">
      <p class="property-name">Skill Level</p>
      <p class="property" *ngFor="let skillLevel of skillLevels">
        {{ skillLevel + 1 }}
      </p>

      <p class="property-name" *ngIf="skill.type.search('heroic') == -1">
        Required Level
      </p>
      <ng-container *ngIf="skill.type.search('heroic') == -1">
        <p
          [ngClass]="{ property: skill.requiredLevels[skillLevel] != null }"
          *ngFor="let skillLevel of skillLevels"
        >
          {{ skill.requiredLevels[skillLevel] }}
        </p>
      </ng-container>

      <p class="property-name">Required Skill Points</p>
      <p
        [ngClass]="{ property: skill.requiredSkillPoints[skillLevel] != null }"
        *ngFor="let skillLevel of skillLevels"
      >
        {{ skill.requiredSkillPoints[skillLevel] }}
      </p>

      <p class="property-name" *ngIf="skill.type.search('heroic') != -1">
        Required Heroic Points
      </p>
      <ng-container *ngIf="skill.type.search('heroic') != -1">
        <p
          [ngClass]="{
            property: skill.requiredHeroicPoints[skillLevel] != null
          }"
          *ngFor="let skillLevel of skillLevels"
        >
          {{ skill.requiredHeroicPoints[skillLevel] }}
        </p>
      </ng-container>

      <!-- <p>{{ skill.stats }}</p> -->
    </div>
  </div>
</div>
