.top-menu {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  color: #d2b582;
  border-bottom: 1px solid #3d3d3d;
}

.logo {
  display: flex;
  width: 300px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  gap: 25px;
}

.social {
  display: flex;
  justify-content: right;
  font-size: 20px;
  width: 300px;
  gap: 15px;
}

.link:link,
.link:visited {
  color: #d2b582;
  text-decoration: none;
  font-weight: 500;
}

.link:hover,
.link:active {
  color: white;
}
