<div class="skill-container">
  <p class="skill-header">{{ skill.name }}</p>

  <img
    class="skill-img"
    [ngClass]="{ learnedImg: !skillLevel }"
    src="/assets/skillbuilder/sorcerer/{{ skillType.toLowerCase() }}/{{
      skill.imgPath
    }}"
    title="Click on the Image for description"
    (click)="increasePoint()"
  />

  <div class="level">
    <button class="inc-dec-button" (click)="decreasePoint()">-</button>
    <p [ngClass]="{ learned: skillLevel }">{{ skillLevel }}</p>
    <button class="inc-dec-button" (click)="increasePoint()">+</button>
  </div>
</div>
