.background {
  height: fit-content;
  min-width: fit-content;
  background-color: black;
}

.background-img {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
}
