.skill-container {
  display: grid;
  gap: 10px;
  width: 90px;
  padding: 15px;
  justify-items: center;
  border: 1px solid #3d3d3d;
}

.skill-header {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 20px;
  height: 50px;
}

.skill-img {
  margin: 10px 0 10px 0;
  opacity: 0.3;
}

.skill-img:hover {
  margin: 10px 0 10px 0;
  opacity: 0.75;
  cursor: pointer;
}

.level {
  color: #2b2b2b;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #141414;
}

button {
  background-color: #2b2b2b;
  color: #000000;
  font-family: "Courier";
  font-size: large;
  font-weight: 600;
  border: none;
  height: 20px;
  width: 20px;
}

button:hover:enabled {
  color: white;
  cursor: pointer;
  background-color: #3d3d3d;
}

.learnable {
  opacity: 1;
  color: #d2b582;
}

.learned {
  color: #00af00;
}
