<div class="skill-container">
  <p class="skill-header">{{ skill.name }}</p>

  <img
    class="skill-img"
    [ngClass]="{ available: increasable, learned: skill.level }"
    src="/assets/skillbuilder/sorcerer/{{ skill.type }}/{{ skill.imgPath }}"
    title="Click on the Image for description"
    (click)="displayDescription = true"
  />

  <div class="level">
    <button
      [ngClass]="{ available: decreasable }"
      [disabled]="!decreasable"
      (click)="decreaseSkillLevel()"
    >
      -
    </button>
    <p [ngClass]="{ available: increasable, learned: skill.level }">
      {{ skill.level }}
    </p>
    <button
      [ngClass]="{ available: increasable }"
      [disabled]="!increasable"
      (click)="increaseSkillLevel()"
    >
      +
    </button>
  </div>
</div>

<div *ngIf="displayDescription">
  <app-skill-description
    [skill]="skill"
    (displayDescription)="displayDescription = $event"
  ></app-skill-description>
</div>
