<div class="space"></div>
<div class="build-code-background">
  <div class="build-code-flex">
    <h4>Build Code</h4>
    <button
      [disabled]="!buildCode"
      title="Load Build Code"
      (click)="loadBuildCode()"
    >
      Load
    </button>
  </div>
  <textarea
    class="build-code-input"
    [placeholder]="buildCodePlaceholder"
    [(ngModel)]="buildCode"
  ></textarea>
</div>

<div class="title">
  <p>Choose a class to create a Build or load one with a Build Code!</p>
</div>
<h2 class="loading" *ngIf="classesLoading">Loading...</h2>
<div *ngIf="!classesLoading" class="background">
  <div class="container">
    <div
      *ngFor="let currentClass of classes"
      [ngClass]="{ dragonscion: currentClass == 'Dragonscion' }"
    >
      <a class="link" routerLink="/{{ currentClass.toLowerCase() }}">
        <img
          src="/assets/classes/{{ currentClass.toLowerCase() }}.png"
          alt=""
        />
        {{ currentClass }}
      </a>
    </div>
  </div>
</div>
