<div class="background">
  <img class="class-image" src="assets/classes/{{ currentClass }}.png" alt="" />
  <div class="build-code-flex">
    <h4>Build Code</h4>
    <textarea
      class="build-code-input"
      [placeholder]="buildCodePlaceholder"
      [(ngModel)]="buildCode"
    ></textarea>
  </div>
  <div class="build-code-flex">
    <button title="Generate Build Code" (click)="generateBuildCode()">
      Generate
    </button>
    <button
      [disabled]="!buildCode"
      title="Copy to clipboard"
      (click)="copyBuildCode()"
    >
      Copy
    </button>
    <button
      [disabled]="!buildCode"
      title="Load Build Code"
      (click)="loadBuildCode()"
    >
      Load
    </button>
  </div>
</div>
